body{
    background-color: rgba(54, 53, 53, 0.912);
    margin-top: 15px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.header-elements{
    text-align: center;
    padding-left: 20px;
    margin-bottom: 30px;
}

.header-elements a {
    padding: 50px;
    font-size: 25px;
}

.header-elements a:hover {
    color: rgb(76, 227, 76);
    transition: 0.7s all ease-in-out;
}

.main-heading {
    color: white;
    font-size: 3rem;
}

.sub-heading {
    color: white;
}

button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

button:focus,
button:hover {
    color: #fff;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

nav {
    height: 200vh;
}

.to-top {
    scroll-behavior: smooth;
}